In [4]:
import pandavro as pdx

In [6]:
pdx.read_avro("./-00000-of-00001.avro")

,ACNO,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_7,FIELD_8,FIELD_9,FIELD_10
0,004000001,3141.444092,3124.197021,6605.492188,8139.267090,3914.170898,3040.125977,5166.603027,6142.051758,5070.963867,5270.662109
1,004000002,5897.519043,1928.390991,7675.340820,8396.763672,2357.491943,9659.693359,4359.434082,4859.573242,6037.392090,6916.595215
2,004000003,4329.227051,4564.127930,8155.946777,5364.827148,6857.758789,2136.852051,2246.716064,6202.244141,9316.970703,6997.027832
3,004000004,6434.675781,2394.594971,9481.110352,3354.332031,1651.854004,7342.646973,8798.190430,2854.677979,5190.384766,2283.260986
4,004000005,6630.856934,1598.568970,7658.347168,1004.065002,5822.401855,1766.582031,1057.909058,8319.078125,5570.063965,1097.733032
...,...,...,...,...,...,...,...,...,...,...,...
9995,004009996,5316.126953,9056.468750,5109.469238,8941.148438,5989.895020,6290.702148,7979.348145,3928.818115,9603.093750,5453.935059
9996,004009997,6710.200195,5830.252930,8810.182617,2456.333008,7669.178223,1586.561035,6691.580078,7523.407227,4541.090820,7293.969238
9997,004009998,1520.894043,3269.987061,1881.687988,3203.980957,2602.506104,4318.847168,2783.654053,9728.238281,7458.329102,7043.229004
9998,004009999,6021.681152,2378.804932,7165.120117,9966.771484,1631.505981,9585.840820,4072.053955,2810.891113,7092.790039,4226.698242
9999,004010000,1411.537964,1492.396973,3333.979004,3154.528076,3081.245117,8538.202148,5477.939941,8688.881836,7925.352051,1874.249023

In [2]:
import os
import sys
spark_path = os.environ.get('SPARK_PATH', None)
sys.path.insert(0, os.path.join(spark_path, 'python/lib/py4j-0.10.8.1-src.zip'))
exec(open(os.path.join(spark_path, 'python/pyspark/shell.py')).read())

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.4.5
      /_/

Using Python version 3.7.6 (default, Jan  8 2020 13:42:34)
SparkSession available as 'spark'.

In [2]:
!pip install pandavro

Collecting pandavro
  Downloading pandavro-1.5.2.tar.gz (3.8 kB)
Requirement already satisfied: fastavro>=0.14.11 in /Users/flybird/opt/anaconda3/lib/python3.7/site-packages (from pandavro) (0.23.3)
Requirement already satisfied: numpy>=1.7.0 in /Users/flybird/opt/anaconda3/lib/python3.7/site-packages (from pandavro) (1.18.1)
Requirement already satisfied: pandas in /Users/flybird/opt/anaconda3/lib/python3.7/site-packages (from pandavro) (0.25.3)
Requirement already satisfied: six>=1.9 in /Users/flybird/opt/anaconda3/lib/python3.7/site-packages (from pandavro) (1.14.0)
Requirement already satisfied: pytz in /Users/flybird/opt/anaconda3/lib/python3.7/site-packages (from fastavro>=0.14.11->pandavro) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/flybird/opt/anaconda3/lib/python3.7/site-packages (from pandas->pandavro) (2.8.1)
Building wheels for collected packages: pandavro
  WARNING: Building wheel for pandavro failed: [Errno 13] Permission denied: '/Users/flybird/Library/Caches/pip/wheels/33'
Failed to build pandavro
Installing collected packages: pandavro
    Running setup.py install for pandavro ... done
Successfully installed pandavro-1.5.2
WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the '/Users/flybird/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [3]:
import pandavro as pdx

In [4]:
pdx.read_avro('./data/account_id_schema_new.avro')

           ACNO   FIELD_1   FIELD_2
0     004000001  2310.878  2310.878
1     004000002  5093.888  5093.888
2     004000003  7936.283  7936.283
3     004000004  7348.914  7348.914
4     004000005  7586.899  7586.899
...         ...       ...       ...
9995  004009996  2969.008  2969.008
9996  004009997  2983.393  2983.393
9997  004009998  3601.616  3601.616
9998  004009999  1020.945  1020.945
9999  004010000  1192.363  1192.363

[10000 rows x 3 columns]